*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width: 100%;
    /* overflow: hidden; */
}
#main{
    height:100%;
    width: 100%;
}
#page1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
     /* background-color: aqua; */
}
#text{
    position: absolute;
    font-size: 5em;
    color: #333;
}
#page1 img{
    position: absolute;
    /* top: 0;
    left: 0; */
    /* width: 100%; */
    pointer-events: none;
    
   
}
#hl1{
    height: 1000px;
    top :70px;
}
#hl2{
    height: 1000px;
}
#hl3{
    height: 1000px;
    top: 0;
}
#hl4{
    height: 700px;
    left: 0;
    bottom: 0;
}
#hl5{
    height: 700px;
    right: 0;
    bottom: 0;
}
#cl1{
    height: 500px;
    top: 10px;
    left: 70px;
}
#cl2{
    height: 500px;
    top :10px;
    right: 60px;
}
#gr{
    bottom: 0;
}
#page2{
    height: 100%;
    width: 100%;
    /* background-color: rgb(134, 12, 63); */
    background-color: rgba(95, 41, 90);
    position: relative;
    padding: 120px;
}
#page2 h1{
    color: #fff;
    font-size: 3em;
}
#page2 p{
    color: #fff;
    margin-top: 70px;
    font-size: 1em;
}